spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/notification_service
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: qwer1234!

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        database-platform: org.hibernate.dialect.PostgreSQLDialect