version: '3.9'

services:
  postgre:
    build:
      context: ./.github/actions/postgres-setup
      dockerfile: Dockerfile
    container_name: postgre
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: qwer1234!
    ports:
      - "5432:5432"
    volumes:
      - postgre-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 10

  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    ports:
      - "9411:9411"
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:9411/health || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10

  service-discovery:
    image: kangking97/shoonglogistics-service-discovery:latest
    container_name: service-discovery
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8761:8761"
    depends_on:
      postgre:
        condition: service_healthy
      redis:
        condition: service_healthy
      zipkin:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8761/eureka/apps || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10

  configure-service:
    image: kangking97/shoonglogistics-configure-service:latest
    container_name: configure-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8888:8888"
    depends_on:
      service-discovery:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8888/actuator/health || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10

  api-gateway:
    image: kangking97/shoonglogistics-api-gateway:latest
    container_name: api-gateway
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8000:8000"
    depends_on:
      configure-service:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8000/actuator/health || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5

  user-service:
    image: kangking97/shoonglogistics-user-service:latest
    container_name: user-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8081:8081"
    depends_on:
      api-gateway:
        condition: service_healthy

  company-service:
    image: kangking97/shoonglogistics-company-service:latest
    container_name: company-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8082:8082"
    depends_on:
      api-gateway:
        condition: service_healthy

  hub-service:
    image: kangking97/shoonglogistics-hub-service:latest
    container_name: hub-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "19092:19092"
    depends_on:
      api-gateway:
        condition: service_healthy

  order-service:
    image: kangking97/shoonglogistics-order-service:latest
    container_name: order-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8080:8080"
    depends_on:
      api-gateway:
        condition: service_healthy

  notification-service:
    image: kangking97/shoonglogistics-notification-service:latest
    container_name: notification-service
    env_file:
      - ./notification-service/.env
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8089:8089"
    depends_on:
      api-gateway:
        condition: service_healthy

volumes:
  postgre-data: