version: '3.9'

services:
  postgre:
    build:
      context: ./.github/actions/postgres-setup
      dockerfile: Dockerfile
    container_name: postgre
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: qwer1234!
    ports:
      - "5432:5432"
    volumes:
      - postgre-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 10

volumes:
  postgre-data: