spring:
  application:
    name: api-gateway
  main:
    web-application-type: reactive
  config:
    import:
      optional:configserver:http://localhost:8888
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/api/v1/users/**
            - id: company-service
              uri: lb://company-service
              predicates:
                - Path=/api/v1/companies/**,/api/v1/product-categories/**,/api/v1/stocks/**,/api/v1/products/**
            - id: hub-service
              uri: lb://hub-service
              predicates:
                - Path=/api/v1/hubs/**,/api/v1/hub-routes/**
            - id: order-service
              uri: lb://order-service
              predicates:
                - Path=/api/v1/orders/**,/api/v1/deliveries/**
            - id: notification-service
              uri: http://localhost:8089
              predicates:
                - Path=/api/v1/ai-delivery/**

server:
  port: 8000

eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka

springdoc:
  swagger-ui:
    path: /docs
    urls:
      - name: company-service
        url: /v3/api-docs/company-service
      - name: user-service
        url: /v3/api-docs/user-service
      - name: hub-service
        url: /v3/api-docs/hub-service
      - name: order-service
        url: /v3/api-docs/order-service

---

spring:
  config:
    activate.on-profile: docker
    import:
      optional:configserver:http://configure-service:8888

eureka:
  client:
    service-url:
      defaultZone: http://service-discovery:8761/eureka