spring:
  config:
    activate:
      on-profile: test, local, dev
  data:
    redis:
      host: localhost
      port: 6379
      password:
      lettuce:
        pool:
          max-active: 10
          max-idle: 10
          min-idle: 2
      timeout: 3000ms
---

spring:
  config:
    activate:
      on-profile: docker
  data:
    redis:
      host: redis
      port: 6379
      password:
      lettuce:
        pool:
          max-active: 10
          max-idle: 10
          min-idle: 2
      timeout: 3000ms