version: '3.8'

services:
  postgres:
    build:
      context: ../.github/actions/postgres-setup
      dockerfile: Dockerfile
    container_name: shoong-postgis
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: qwer1234!
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - shoong-network


  redis:
    image: redis:7-alpine
    container_name: hub-service-redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 3s
      retries: 3
volumes:
  pgdata:
  redis-data:


networks:
  shoong-network:
    driver: bridge