services:
  postgres:
    build: .  # 위 Dockerfile 경로
    image: local/postgis-ko:16-3.4
    container_name: postgis-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: qwer1234!
      POSTGRES_DB: hub_service
      POSTGRES_INITDB_ARGS: "--locale=ko_KR.UTF-8 --encoding=UTF8"
    volumes:
      - postgres-dev-data:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d

volumes:
  postgres-dev-data: