services:
  postgres:
    image: postgis/postgis:16-3.4
    container_name: postgis-db
    restart: always
    user: root  # 로케일 설치를 위해 root 필요
    environment:
      POSTGRES_USER:
      POSTGRES_PASSWORD:
    entrypoint: |
      bash -c "
      apt-get update && apt-get install -y locales &&
      sed -i '/ko_KR.UTF-8/s/^# //g' /etc/locale.gen &&
      locale-gen ko_KR.UTF-8 &&
      su postgres -c 'postgres -D /var/lib/postgresql/data'
      "
    ports:
      - "5432:5432"
    volumes:
      - postgres-dev-data:/var/lib/postgresql/data

volumes:
  postgres-dev-data: